<%= javascript_include_tag "login" %>
<%= stylesheet_link_tag "login" %>

<center>
    <h1>Login</h1>
</center>

    <br><br>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <%= form_for :login  do |form| %>

                <p>
                    <%= form.label :email %>
                    <%= form.email_field :email, required: true %>
                </p>
            
                <p>
                    <%= form.label :password %>
                    <%= form.password_field :password, required: true %>
                </p>

                <center>
                    <p>
                        <%= form.submit %>
                    </p>
                </center>

            <% end %>
        </div>
        <div class="col-md-4"></div>
    </div>


<br><br><br>
<center>
    <%= link_to 'Back', welcome_index_path %>
</center>