<%= javascript_include_tag "login" %>
<%= stylesheet_link_tag "login" %>


<center>
  <h1>Edit Employer</h1>
</center>  

  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@employer.errors.count, "error") %> prohibited
        this employer from being saved:
      </h2>
      <ul>
        <% @employer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
<%= form_with(model: @employer, local: true) do |form| %>
 
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">

          <div class="row">
              <div class="col-sm">
                  <p>
                      <%= form.label :name %><br>
                      <%= form.text_field :name %>
                  </p>
              </div>
          
              <div class="col-sm">
                  <p>
                      <%= form.label :email %><br>
                      <%= form.email_field :email%>
                  </p>
              </div>
          </div>

          <div class="row">
              <div class="col-sm">
                  <p>
                      <%= form.label :date_of_birth %><br>
                      <%= form.text_field :date_of_birth %>
                  </p>
              </div>
      
              <div class="col-sm">
                  <p>
                      <%= form.label :gender %><br>
                      <%= form.text_field :gender %>
                  </p>
              </div>
          </div>

          <p>
              <%= form.label :location %><br>
              <%= form.text_field :location%>
          </p>
      
          <p>
              <%= form.label :phone_number %><br>
              <%= form.text_field :phone_number%>
          </p>

          <p>
            <%= form.label :avatar %><br>
            <%= form.file_field :avatar %>
          </p>

          <div class="row">
              <div class="col-sm">
                  <p>
                      <%= form.label :password %><br>
                      <%= form.password_field :password %>
                  </p>
              </div>

              <div class="col-sm">
                  <p>
                      <%= form.label :password_confirmation %><br>
                      <%= form.password_field :password_confirmation %>
                  </p>
              </div>
          </div>
      
          <center>
              <p>
                  <%= form.submit %>
              </p>
          </center>
          <div class="col-sm-4"></div>
<% end %>
 
<br><br><br>
<center>
<%= link_to 'Back', employer_index_path %>
</center>