<%= javascript_include_tag "login" %>
<style>
  html{
    overflow: unset;
  }
  td{
    border-bottom: 1px solid black;
  }
</style>

<div class="container-fluid">
  <center>
    <h1>Employer's List</h1>
  </center> 

  <br><br>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <tr class="thead-dark">
          <th>Name</th>
          <th>E-mail</th>
          <th>Date of birth</th>
          <th>Gender</th>
          <th>Location</th>
          <th>Phone number</th>
          <th colspan="3">Extras</th>
        </tr>
      </tr>
    </thead>
    <tbody>
    <% @employer.each do |employer| %>
      <tr style="font-size: large;">
        <td><%= employer.name %></td>
        <td><%= employer.email %></td>
        <td><%= employer.date_of_birth %></td>
        <td><%= employer.gender %></td>
        <td><%= employer.location %></td>
        <td><%= employer.phone_number %></td>
        <td><%= link_to 'Show', employer_path(employer) %></td>
        <td><%= link_to 'Edit', edit_employer_path(employer) %></td>
        <td><%= link_to 'Delete', employer_path(employer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br><br><br>
  <center>
      <%= link_to 'Register', new_employer_path %>
      &nbsp
      <%= link_to 'Home', welcome_index_path %>
      &nbsp
      <a href="/logout">Logout</a>
  </center>
</div>