<%= javascript_include_tag "login" %>
<%= stylesheet_link_tag "login" %>

<center>
    <h1>Register</h1>
</center>

<ul>
<% if !! flash[:errors] %>

<% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
    <% end %>
</ul>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <%= form_with scope: :employer, url: employer_index_path, validate: true, local: true do |form| %>

            <div class="row">
                <div class="col-sm">
                    <p>
                        <%= form.label :name %><br>
                        <%= form.text_field :name, required: true %>
                    </p>
                </div>
            
                <div class="col-sm">
                    <p>
                        <%= form.label :email %><br>
                        <%= form.email_field :email, required: true %>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <p>
                        <%= form.label :date_of_birth %><br>
                        <%= form.date_field :date_of_birth %>
                    </p>
                </div>
        
                <div class="col-sm">
                    <p>
                        <%= form.label :gender %><br>
                        <%= form.text_field :gender %>
                    </p>
                </div>
            </div>

            <p>
                <%= form.label :location %><br>
                <%= form.text_field :location, required: true %>
            </p>
        
            <p>
                <%= form.label :phone_number %><br>
                <%= form.text_field :phone_number, required: true %>
            </p>

            <p>
                <%= form.label :avatar %><br>
                <%= form.file_field :avatar %>
            </p>

            <div class="row">
                <div class="col-sm">
                    <p>
                        <%= form.label :password %><br>
                        <%= form.password_field :password, required: true %>
                    </p>
                </div>

                <div class="col-sm">
                    <p>
                        <%= form.label :password_confirmation %><br>
                        <%= form.password_field :password_confirmation, required: true %>
                    </p>
                </div>
            </div>
        
            <center>
                <p>
                    <%= form.submit %>
                </p>
            </center>
        <% end %>
    </div>
    <div class="col-sm-4"></div>
</div>

<br><br><br>
<center>
<%= link_to 'Back', welcome_index_path %>
</center>