<%= javascript_include_tag "login" %>
<style>
  p{
    font-size: large;
  }
  img{
    border-radius: 10px;
  }
  @media (max-width: 600px){
    .row{
      flex-direction: column-reverse;
    }
  }
</style>

<div class="container">
  <center>
    <h1>Your Profile</h1>
  </center>

  <br><br><br>

  <div class="row">
  <div class="col-sm">
  <p>
    <strong>Name:</strong>
    <%= @employer.name %>
  </p>
  
  <p>
    <strong>E-mail:</strong>
    <%= @employer.email %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @employer.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @employer.gender %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @employer.location %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @employer.phone_number %>
  </p>
  </div>

  
  <div class="col-sm">
  <div class="images"></div>
  <%= image_tag @employer.avatar.variant(resize_to_limit: [300, 300]) %>
  </div>
  </div>

  <br><br><br><br>

  <center>
      <%= link_to 'Back', new_employer_path %>
      &nbsp
      <%= link_to 'Table', employer_index_path %>
      &nbsp
      <%= link_to 'Home', welcome_index_path %>
  </center>
</div>