

<%= javascript_include_tag "login" %>
<%= javascript_include_tag "application" %>
<div class="container-fluid">
<center><h1>Welcome</h1></center>

<br><br><br><br>

<!-- Button trigger modal -->
<center><button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal"> CHOOSE </button></center>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <center>
        <a href="/login">Login</a>
        <br><br>
        <p>
          <%= link_to 'Register', new_employer_path %>
        </p>
      </center>
      </div>
    </div>
  </div>
</div>
</div>