input{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
}
input[type=submit]{
    font-size: large;
    border: 1px solid black;
    background-color: transparent;
    width: 30%;
    height: 2em;
}
input[type=submit]:hover{
    border: 1px solid teal;
    background-color: teal;
    color: white;
}
label{
    font-size: large;
}


@media (max-width: 600px){
    form{
        margin: 0 2em;
    }
}